/* Styles for index.html */


/* Styles for all banners */
.banner {
    margin: 5px 0;
}

/* Styles for the first banner */
#bannerOneBg {
    width: 100%;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

#bannerOneStudents {
    width: 80%;
    border-radius: 12px;
    max-width: 992px;
}

#bannerOneText {
    padding: 0 20px;
    text-align: center;
    color: white;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}

#bannerOne {
    margin-top: 0;
    background-image: url(../media/photos/students.jpg);
    background-position: 50% 50%;
}

#bannerOneLogo {
    width: 50px;
}

/* Styles for the second banner */
#bannerTwo {
    padding: 20px 20px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
}

#bannerTwoCeo {
    width: 100%;
}

#bannerTwoCeo img {
    width: 33.33333%;
    max-width: 330px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 10px;
}

#bannerTwoCeoSpeech h1 {
    color: transparent;
    -webkit-text-stroke-color: wheat;
    -webkit-text-stroke-width: 1px;
    width: 100%;
}

/* Adjust styles to fit different viewport size */
@media only screen and (min-width: 992px) {
    #bannerTwo {
        flex-direction: row;
        padding: 60px 0;
    }

    #bannerTwoCeo {
        width: 30%;
    }

    #bannerTwoCeo img {
        width: 80%;
    }

    #bannerTwoCeoSpeech {
        width: 50%;
        max-width: 890px;
    }
}