/* Styles for login.html */

@keyframes fadeIn {
    from{scale: 0.5; opacity: 0%;}
    to{scale: 1; opacity: 100%;}
}

html {
    height: 100%;
}

body{
    height: 100%;
    background-color: #FAD961;
    background-image: linear-gradient(135deg, #FAD961 0%, #F76B1C 100%);
}

#login {
    height: 100%;
    width: 100%;
    animation: fadeIn 0.5s ease-out forwards;
}

#loginWrap {
    min-width: 200px;
    width: 80%;
    max-width: 320px;
    height: 340px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    padding: 20px 0;
}

#loginWrap form h1 {
    background: -webkit-linear-gradient(90deg, rgba(227,106,0,1) 0%, rgba(252,70,107,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



