/* Styles for the navigation bar and page*/

/* Styles for the navigation bar*/
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    transition: background-color 300ms ease-in-out;
    position: sticky;
    top: 0;
    z-index: 2;
}

#navbar a{
    display: none;
}

/* Styles for the navigation page*/
#navbutton {
    width: 30px;
    height: 30px;
    position: relative;
}

#navbuttonOne {
    width: 100%;
    position: absolute;
}

#navbuttonTwo {
    width: 100%;
    position: absolute;
    transform: rotateX(90deg);
}

#navpage {
    width: 100%;
    height: 1px;
    bottom: -1px;
    background-color: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    position: absolute;
    opacity: 0%;
    transition: opacity 300ms ease-in-out, height 300ms ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    z-index: 1;
    overflow: hidden;
}

#navpage a {
    color: black;
    text-decoration: none;
}

#navpage a:hover {
    color: gray;
    cursor: pointer;
}

/* Adjust styles to fit different viewport size */
@media only screen and (min-width: 600px) {
    #navbutton {
        display: none;
    }

    #navpage {
        display: none;
    }

    #navbar {
        justify-content: center;
    }

    #navbar a{
        display: unset;
        margin: 0 10px;
        text-decoration: none;
        color: black;
    }

    #navbar a:hover {
        cursor: pointer;
        color: gray;
    }
}