html {
    min-height: 100%;
}

body {
    background: rgb(255,206,168);
    background: linear-gradient(150deg, rgba(255,206,168,1) 50%, rgba(252,176,69,1) 100%);
    background-size: cover;
    min-height: 100%;
}

.pageTitleWrap {
    background-color: rgba(255,255,255,0.8);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0 20px;
}

.pageTitle {
    max-width: 768px;
    width: 100%;
}

.mealsWrapInDetail {
    width: 100%;
}

#mealPhotoInDetail {
    width: 90%;
    max-width: 768px;
    margin: 20px;

}

#mealPhotoInDetail img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

table {
    border-collapse: collapse;
    width: 90%;
    max-width: 768px;
    margin: 20px;
}

table, th, td {
    border: 1px solid;
}

th, td {
    padding: 7px;
    text-align: left;
}

table th {
    background-color: rgb(241, 157, 0);
    color: white;
    border-color: black;
}

table tr {
    background-color: rgba(255,255,255,0.8);
}